*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}

h2::after {
    content: " ";
    display: block;
    height: 2px;
    width: 100px;
    margin: 30px auto;
    background-color: #f63854;
}