.header-class{
    background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.849)),url(../headerbg.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* position: relative; */
    /* opacity: calc(); */
}
.nav-list{
    /* display: flex; */
    /* position: fixed; */
    /* left: 100vh; */
    /* justify-content: flex-end;    */
    /* background-color: black;  */
    width: 100%;
    z-index: 2;
}
.nav-line{
    /* display: block; */
    margin-top: 1rem;
    
}
.unordered-list{
    display: flex;
    /* flex-direction: row; */
    /* position: fixed; */
    justify-content: flex-end;
    /* background-color: transparent; */
    /* height: 4rem; */
    gap: 1rem;
    
    /* justify-content: space-around; */
    margin-right: 2rem;
    background-color: transparent;
    font-size: 1.3rem;
    /* margin-top: 2rem; */
    /* border-top: 2rem; */
    box-sizing: border-box;
}
.nav-link{
    color: white;
    /* height: 2rem; */
    /* border-top: 10px; */
}
.main-heading{
    position: absolute;
    top: 20%;
    left:20%;
    text-transform: uppercase;
}
.nav-heading{
    
    font-size: 350%;
    line-height: 140%;
    font-weight:600;
    word-spacing: 0.2rem;
    color: white;
    
    font-family:sans-serif;
    
}
.heading-color-change{
    color: #f63854;
    font-weight: bold;

}
.button-1{
    border-radius: 25px;
    border: 25px;
    height: 3rem;
    width: 8rem;
    background-color:#f63854;
    color: white;
    margin-top: 2rem;
    
}
.button-1:hover{
    transform: scale(1.2);
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

.button-2{
    border-radius: 25px;
    border-color: #f63854;
    /* border-width: 2px; */
    background-color: transparent;
    height: 3rem;
    width: 8rem;
    color: #f63854;
    margin-left: 2rem;
    margin-top: 2rem;

}
.button-2:hover{
    transform: scale(1.2);
    color: white;
    background-color: #f63854;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
}
.main-section{
    background-color: whitesmoke;
}
/* hr{
    width: 2rem;
    display: flex;
    justify-content: center;
    color: #f63854;
    font-weight: bold;
    font-size: 2rem;
} */
.card-containers{
    /* flex-wrap: wrap; */
    display: flex;
    /* flex-direction: ; */
    justify-content:space-between; 
    /* position: relative; */
    /* gap: 12rem; */
    /* width: 30vw; */
    /* border-width: 2px;
    border-radius: 2px;
    border-color: #f63854; */
    /* align-items: center; */
}
.card-1{
    /* display: flex; */
    /* border:2px solid #f63854; */
    /* border-style: hidden; */
    /* justify-content: space-evenly; */
    /* padding: 5rem; */
    margin: 2rem;
    /* box-shadow: 1rem; */
    background-color: white;
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
    text-align: center;
    transition: transform 0.3s;
   
    
}
.card-1:hover{
    transform: scale(1.05);

    transition: transform 0.3s, color 0.3s, background-color 0.3s;

}

.section-heading{
    /* font-size: 2.5rem; */
    color: gray;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2rem;
}
/* .section-heading::after{
    background-color: #f63854;
    height: 2rem;
    width: 2rem;
} */
.icon{
    height: 10vh;
    color: #f63854;
}
.steps-images{
    display: flex;
    justify-content: space-evenly;
}
.steps-img-class{
    width: 20%;
}
.steps-values{
    display: inline-block;
    border:2px solid #f63854 ;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    padding-top: 0.4rem;
    font-size: 2rem;
    color: #f63854;
    
}
/* .steps-points-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* review section */

.bg-image-reviews{
    background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.603)),url(../img/foodiesfeed.com_pizza-ready-for-baking.jpg);
    height: 80vh;
    width: auto;
    background-size: cover;
    background-position: center;
    margin: 1rem;
}
.heading-review{
    color: lightgrey;
    text-transform: capitalize;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.8rem;
    font-weight: normal;
}
.review-container{
    display: flex;
    /* justify-content: ; */
}
.container-1{
    
    background-color: rgb(214, 232, 248);
    margin: 0.8rem;
    text-align: center;
    padding: 2rem;
    transition: transform 0.3s ;

}
.container-1:hover{
    transform: scale(1.05);
    transition: transform 0.4s;
}
/* .container-1::after{
    /* transform: scale(1); */
    /* transition: transform 0.3s; */
/* } */ 
.container-1-heading{
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: uppercase;

}
.container-1-para{
    color: gray;
}
.review-stars-inside{
    /* display: flex; */
    /* justify-content: space-around; */
    /* width: 30vw; */
    /* text-align: center; */
    /* align-items: ; */
    /* gap: 1rem; */
    margin-right: 1rem;
}

/* plans section */

.plans-section{
    background-color: whitesmoke;
}
.plans-container-normal{
    width: 25vw;
}
.plans-heading{
    text-align: center;
    color: gray;
    font-size: 2rem;
    text-transform: uppercase;
}
.plans-container{
    display: flex;
    justify-content: space-evenly;
}
.plans-container-normal{
    border: black solid 1px;
    margin: 1rem;
    padding: 1rem;
    /* line-height: 1; */
    border-radius: 5%;
}
.plans-container-heading{
    text-align: center;
    /* margin: 1rem; */
}
.plans-button{
    text-align: center;
    position: relative;
    top: 2.1rem;
    /* border: #f63854 solid 1px; */
    
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* left: 4.5rem; */
    /* border-top-right-radius: 20px; */
    
    /* background-color: #f63854; */
    /* color: white; */
    padding-top: 5px;
}
.btns{
    color: white;
    border: #f63854 solid 1px; 
    background-color: #f63854;
    border-radius: 20px;
    height: 2.5rem;
    width: 9rem;
}
.plans-button:hover{
    transform: scale(1.1);
    transition: transform(1.2s);
}
.plans-container-para{
    color: #f63854;
    font-size: 3rem;
    font-weight: 400;
}
.plans-container-span{
    color: black;
    font-size: 1rem;
}
.plans-list-item{
    color: #f63854;
}

/* contact us section */

.contact-us-section{
    background-color: black;
    margin-top: 2rem;
    /* display: flex; */
}
.contactus-container{
    display: flex;
    justify-content: space-around;
}
.contact-heading{
    text-align: center;
    color: gray;
    padding-top: 1rem;
    text-transform: uppercase;
    font-size: 2.2rem;
}
.bg-video{
    /* height: 4; */
    position: relative;
    max-width: 35vw;
    /* zoom: 1; */
    /* background-color: white; */
    left: 3rem;
    top: 2rem;
    /* object-fit: contain; */
    /* overflow-clip-margin: content-box; */
    /* overflow: clip; */
}
.video-contactus{
    /* width: 35%; */
}
.input-data{
    max-width: 65%;
    color: gray;
    line-height: 2.1rem;
    display: block;
    /* width: 50%; */
    position: relative;
    left: 2rem;
}
/* .entry{
    width: 100%;
} */
input[type="text"],
input[type="email"],
select,
textarea{
    width: 80%;
}
input[type="button"]{
    color:white;
    background-color: #f63854;
    height: 3rem;
    width: 9rem;
    border-radius: 25px;
    border-color: #f63854;
    text-align: center;

}

.input-data-button{
    display: flex;
    justify-content: center;

}
input[type="checkbox"]{
    margin-bottom: 2rem;
    /* max-width: 60%; */
    /* width: 50%; */
}